 .content {
     margin-left: 10px
 }

 .footer {
     clear: both;
     position: relative;
     height: 40px;
     margin-top: 100px;
 }

 table {
     font-size: 14px;
 }
 .nav{
     color: black;
      font-family: Cambria,
      Cochin,
      Georgia,
      Times,
      'Times New Roman',
      serif;
      font-weight: 900;
      text-decoration: none;
      text-transform: none;
 }

 .abtn{
     color: aliceblue;
     font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
     font-weight: 900;
     text-decoration: none;
     text-transform: none;
 }

 .login-logo{
     height: 50px;
     width: auto;
     align-items: center;
 }

 .form-signin{
     background-color: #FFFFFF;
     border-radius: 10px;
     box-shadow: 5px 10px;
 }

.head-dashboar{
    text-align: center;
    background-color: #FFC107;
    border-radius: 10px;
}